<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="~/Content/assets/css/Nav-Styles.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="../../Content/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="../../Content/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="../../Content/assets/css/flexselect.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

    <link href="../../Content/assets/css/Nav-Styles.css" type="text/css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">

    <style>
        th {
            /*            background: #212529;
            color: #FFF;*/
            padding-right: 15px !important;
            padding-left: 5px !important;
        }
        td {
            padding-right: 15px !important;
            padding-left: 5px !important;
        }
    </style>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <div class="sidebar">
                        <div class="logo_content">
                            <div class="logo">
                                <i class='bx bx-command'></i>
                                <div class="logo_name" id="nick_logo">Supermercado<br> <h6>_Supermercado</h6></div>
                            </div>
                            <i class='bx bx-menu' id="btn"></i>
                        </div>




                        <ul class="nav_list">
                            <li>
                                <a href="#">
                                    <i class='bx bx-user'></i>
                                    <span class="links_name">Usuario</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-user'></i>
                                    <span class="links_name">Personas</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-user-badge'></i>
                                    <span class="links_name">Proveedores</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-user-badge'></i>
                                    <span class="links_name">Venta/Compras</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxs-offer'></i>
                                    <span class="links_name">Articulos</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bx-grid-alt'></i>
                                    <span class="links_name">Ejemplo</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create","VentaEncabezado")">
                                    <i class='bx bx-grid-alt'></i>
                                    <span class="links_name">Venta</span>
                                </a>
                            </li>
                        </ul>






                        <div class="profile_content">
                            <div class="profile">
                                <div class="profile_details">
                                    <div class="name_job">
                                        <div class="name">Ejemplo</div>
                                        <div class="job">Ejemplo dos </div>
                                    </div>
                                </div>
                                <i class='bx bx-log-out' id="log_out"></i>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-11 justify-content-center">
                    <br />

                    <div class="card" style="margin-left:-30px">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Title</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            @RenderBody();
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    @*</div>

    </div>*@

    @*<script src="../../Content/plugins/jquery/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="~/Scripts/app/VentaEncabezado/Create.js"></script>

    <script src="../../Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../../Content/dist/js/adminlte.min.js"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="../../Content/assets/js/liquidmetal.js" type="text/javascript"></script>
    <script src="../../Content/assets/js/jquery.flexselect.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });

        jQuery(document).ready(function () {
            $("select.flexselect").flexselect();
        });
    </script>


    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".Sidebar");

        btn.onclick = function () {
            sidebar.classList.toggle("active");

        }


        let usa = document.querySelector("#usuDatosbtn");
        let usu = document.querySelector("#suarios");

        usa.onclick = function () {
            usu.classList.toggle("activeUsuarios");
        }

    </script>

</body>
</html>