/* Recordatorio de Fer: La fuente es Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
}

.Sidebar{
    backdrop-filter: blur(10px);
    box-shadow: 0 0 6px #1a1922c0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #1a1922;
    padding: 14px 14px;
    transition: all 0.5s ease;
    z-index:1;

}



.Sidebar.active{
    width: 240px
}

.Sidebar.active .logo_content .logo {
    opacity: 1;
}

.Sidebar .logo_content .logo {
    color: white;
    display: flex;
    height: 210px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}



.logo_content .logo i{
    font-size: 48px;
    margin-top: -50px
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    margin-top: -50px
}



.Sidebar #btn{
    position: absolute;
    color: white;
    left: 50%;
    top: 20px;
    font-size: 30px;
    height: 60px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.Sidebar.active #btn{
    left: 80%;
    transform: translateX(-50%);
    transition: all 0.5s ease;

}


.Sidebar ul{
    margin-top: -80px;
}

.Sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 5px 5px;
    list-style: none;
    line-height: 50px;
}

.Sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.Sidebar ul li a:hover{
    color: #1a1922;
    background: white;

}

.Sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.Sidebar .links_name{
    opacity: 0;
    transition: all 0.5s ease;
}

.Sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}


.Sidebar .profile_content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
}
   
.Sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: auto;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.Sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
    

}

.profile .profile_details .name_job{
    margin-left: 30px;
}



.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;
}

.profile #log_out{
    position:  absolute;
    left: 47px;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 12px;
    transition: all 0.5s ease;    
}
.Sidebar.Sidebar.active .profile #log_out{
    
    left: 200px;

}



