
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperMercado</title>
    <link rel="stylesheet" href="~/Content/assets/css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" id="container">
        <div class="row" id="row">
            <h1>
                SuperMercado
            </h1>
            <h4>Lo mejores productos para tu hogar</h4>
            <div class="Opacity"></div>
        </div>
        <div class="items">
            <div id="1" onclick="imagechange(1)" class="item"></div>
            <div id="2" onclick="imagechange(2)" class="item"></div>
            <div id="3" onclick="imagechange(3)" class="item"></div>
            <div id="4" onclick="imagechange(4)" class="item"></div>
            <div id="5" onclick="imagechange(5)" class="item"></div>
        </div>
    </div>


    <script src="~/Content/assets/js/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>
